[Desktop Entry]
Actions=new-empty-window
Categories=Utility;TextEditor;Development;IDE
Comment=Code Editing. Redefined.
Exec=code %F
GenericName=Text Editor
Icon=vscode
Keywords=vscode
Name=VS Code
Path=
StartupNotify=true
StartupWMClass=Code
Terminal=false
TerminalOptions=
Type=Application
Version=1.4
X-KDE-SubstituteUID=false
X-KDE-Username=
NoDisplay=true

[Desktop Action new-empty-window]
Exec=code --new-window %F
Icon=vscode
Name=New Empty Window
