NoDisplay=true

[Desktop Entry]
Name=Yandex Music
Exec=yandex-music --no-sandbox
Terminal=false
Type=Application
Icon=yandexmusic
StartupWMClass=Яндекс Музыка
Comment=Personal recommendations, mixes for any occasion and the latest musical releases
MimeType=x-scheme-handler/yandexmusic;
Categories=Audio;
