* {
  background-image: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  color: #cdd6f4;
  background-color: #313244;
  border-radius: 12px;
  padding: 20px;
  margin: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #45475a;
}

#shutdown,
#shutdown:hover {
  background-image: image(url("./icons/power.png"));
}

#logout,
#logout:hover {
  background-image: image(url("./icons/logout.png"));
}

#reboot,
#reboot#hover {
  background-image: image(url("./icons/restart.png"));
}

#lock,
#lock:hover {
  background-image: image(url("./icons/lock.png"));
}

#hibernate,
#hibernate:hover {
  background-image: image(url("./icons/hibernate.png"));
}

#sleep,
#sleep:hover {
  background-image: image(url("./icons/sleep.png"));
}
